body{
  background-color: rgba(197,255,189,255);
}
#canvas{
  border: 2px solid;
  border-radius: 8px;
  height:900px;
  width: 1200px;
  margin: auto;
  background: rgb(220, 220, 220);
}
.stat {
  display: inline-block;
  margin: 0 10px;
}
#stats{
  background-color: rgb(185, 182, 168) ;
  display: flex;
  border: 2px solid;
  border-radius: 3px;
  height: 40px;
  width: 500px;
  margin: auto;
  justify-content: center;
  align-items: center;
}
#stats-container{
  text-align: center;
  white-space: nowrap;
  height: 20px;
  width: 500px;
}
.stat-label {
  font-weight: bold;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium'
}

